<!DOCTYPE html>
<html>

<head>
    <%- include('./back_pub/head.ejs')%>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- header -->
            <%- include('./back_pub/header.ejs')%>
                <!-- aside -->
                <%- include('./back_pub/aside.ejs')%>
                    <div class="layui-body">
                        <!-- 内容主体区域 -->
                        <div style="padding: 15px;">
                            <fieldset class="layui-elem-field">
                                <legend>后台管理 - 用户管理</legend>
                                <div class="layui-field-box">
                                    <h3 style="color: rgb(53, 243, 16);">仅展示用户的id与用户名</h3>
                                    <table class="layui-table">
                                        <colgroup>
                                            <col width="100">
                                            <col width="200">
                                            <col width="200">
                                            <col>
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>号码</th>
                                                <th>用户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let o of data){%>
                                                <tr>
                                                    <td>
                                                        <%=o.id %>
                                                    </td>
                                                    <td>
                                                        <%=o.username %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- footer -->
                    <%- include('./back_pub/footer.ejs')%>
        </div>
        <script type="text/javascript" src="/js2/jquery.min.js"></script>
        <script type="text/javascript" src="/js2/layui.js"></script>
        <script type="text/javascript" src="/js2/icheck.js"></script>
        <script type="text/javascript" src="/js2/gn.js"></script>
</body>

</html>