<!DOCTYPE html>
<html>

<head>
    <%- include('./back_pub/head.ejs')%>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- header -->
            <%- include('./back_pub/header.ejs')%>
                <!-- aside -->
                <%- include('./back_pub/aside.ejs')%>
                    <div class="layui-body">
                        <!-- 内容主体区域 -->
                        <div style="padding: 15px;">
                            <fieldset class="layui-elem-field">
                                <legend>控制台-管理员信息</legend>
                                <div class="layui-field-box">
                                    <table class="layui-table">
                                        <colgroup>
                                            <col width="150">
                                            <col width="200">
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>姓名</th>
                                                <th>邮箱</th>
                                                <th>电话</th>
                                                <th>爱好</th>
                                                <th>密码</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let o of data){%>
                                                <tr>
                                                    <td>
                                                        <%=o.id %>
                                                    </td>
                                                    <td>
                                                        <%=o.username %>
                                                    </td>
                                                    <td>
                                                        <%=o.mail %>
                                                    </td>
                                                    <td>
                                                        <%=o.telephone %>
                                                    </td>
                                                    <td>
                                                        <%=o.habit %>
                                                    </td>
                                                    <td>
                                                        <%=o.password %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!-- footer -->
                    <%- include('./back_pub/footer.ejs')%>
        </div>
        <script type="text/javascript" src="/js2/jquery.min.js"></script>
        <script type="text/javascript" src="/js2/layui.js"></script>
        <script type="text/javascript" src="/js2/index.js"></script>
        <script type="text/javascript" src="/js2/dw.js"></script>
</body>

</html>