<!DOCTYPE html>
<html class="found">

<head>
    <!-- head -->
    <%- include('./major_pub/head.ejs')%>
        <title>简介---coy的自留地</title>
        <!-- Js -->
        <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('./major_pub/header.ejs')%>
        <!-- ArtBox -->
        <div style="padding-left: 1050px; position:absolute;">
            <img src="/images/nn.png" width="300">
        </div>
        <div class="container">
            <div class="row">
                <div class="artbox col-sm-8">
                    <div class="about" style="margin-bottom: 40px;color:rgba(255, 255, 255, 0.979);">
                        <% for(let o of data){%>
                            <div><span style="font-size: 18pt;">
                            <%=o.title %>
                        </span></div>
                            <div>
                                <%=o.content %>
                            </div>
                            <div>
                                <p>&nbsp;</p>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('./major_pub/footer.ejs')%>
            <!-- 弹出层 -->
            <%- include('./major_pub/popup.ejs')%>
                <script src="/js/GeeYo.js"></script>
                <script src="/js/gb2big5.js"></script>
                <script src="/js/intro.js"></script>
</body>

</html>